name: Go
on:
  push:
    branches:
    - master
    tags:
    - '*'
  pull_request:
    branches:
    - master

jobs:
  build-linux:
    name: Build & Test on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.23
      uses: actions/setup-go@v1
      with:
        go-version: 1.23
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@master

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Build
      run: go build -v .

    - name: Test
      run: |
        go test -race -coverprofile=coverage.txt -covermode=atomic ./...
    
    - name: Upload Codecov Results
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage.txt
        env_vars: OS
        flags: unittests

    - name: Prep Release Directory
      if: startsWith(github.ref, 'refs/tags/')
      run: mv poryscript-pls poryscript-pls-linux

    - name: Create Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: poryscript-pls-linux
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-mac:
    name: Build & Test on macos-latest
    runs-on: macos-latest
    steps:
    - name: Set up Go 1.23
      uses: actions/setup-go@v1
      with:
        go-version: 1.23
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@master

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Build
      run: go build -v .

    - name: Test
      run: go test ./...

    - name: Prep Release Directory
      if: startsWith(github.ref, 'refs/tags/')
      run: mv poryscript-pls poryscript-pls-mac

    - name: Create Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: poryscript-pls-mac
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-windows:
    name: Build & Test on windows-latest
    runs-on: windows-latest
    steps:
    - name: Set up Go 1.23
      uses: actions/setup-go@v1
      with:
        go-version: 1.23
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@master

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Build
      run: go build -v .

    - name: Test
      run: go test ./...

    - name: Prep Release Directory
      if: startsWith(github.ref, 'refs/tags/')
      run: mv poryscript-pls.exe poryscript-pls-windows.exe

    - name: Create Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: poryscript-pls-windows.exe
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
